* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }

#navbar {
    height: 5vh;
    width: 100vw;
    background-color: darkgray;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(110, 109, 107);
}

.navItem {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(84, 206, 125);
  padding: 1rem;
  
}

#main {
  height: 95vh;
  width: 100vw;
  display: flex;
}

#map {
  height: 95vh;
  width: 75vw;
}

#side_bar {
    height: 95vh;
    width: 25vw;
}

#select {
  height: 45vh;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
}

#itinerary {
  height: 50vh;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#currentItinerary {
  background-color: rgb(238, 238, 238);
}

.tripItems {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.tripSelectors {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
}

.options {
  width: 50%;
}

.itineraryItems {
  display: flex;
  margin: 1rem;
}